WG_BASE_URL=https://example.com or http://1.2.3.4:551821
WG_USERNAME=admin
WG_PASSWORD=password

TELEGRAM_TOKEN=123
TELEGRAM_OWNER_ID=123

CHECK_INTERVAL_MINUTES=5
THRESHOLD_DAYS=7,3,1
CACHE_PATH=./cache.json
